body {
    margin: 10px auto;
    width: 70%;
    max-width: 950px;
    background-image: url("http://wallpapercraze.com/images/wallpapers/blue_battleship_w1.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: 1300px;
    position: relative;
}

h1 {
    font-size: 140px;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    color: rgba(143, 143, 143, 0.8);
    margin-bottom: auto;
}

button, input {
    font-size: 35px;
    line-height: 0px;
    color: white;
  margin:-400px;
  text-align: center;
}
p {
  text-indent: 170px;
  font-size: 20px;
  color: white;
  font-family: 'Quantico', sans-serif;
  margin: 8px;
}
#stats {
  text-align: left;

}

#gameboard {
  position:relative;
  margin:0 auto 30px auto;
  width:500px;
  height:500px;

}

#gameboard div {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid lightblue;
  border-style: dashed;
  width:50px;
  height:50px;
  background-color: rgba(0, 122, 179, 0.53);
}

#how-to-play {
  text-align: center;
  color: white;
  font-family: 3px;
  border: -2px solid gray;
  background-color: rgba(69, 69, 69, 0.53);
  width: 825px;
  text-align: left;
  padding: 0px;
}

